a {
  text-decoration: none; }

.wrapper {
  display: flex;
}

.product-details {
  position: absolute;
  top: 38px;
  right: 56px;
  z-index: 1;
}

.product-color {
  border: none;
  border-radius: 100%;
  width: 18px;
	height: 18px;
  margin: 0 3px;
  cursor: pointer;
}

.color-darkgrey {
  background-color: #c5c5c5;
}

.color-blue {
  background-color: #4d87ca;
}

.color-black {
  background-color: #000;
}

.color-lightgrey {
  background-color: #e0e0e0;
}

.product-badge {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  width: 76px;
  font-size: 14px;
  padding: 6px 0;
  text-align: center;
  background: #ff5c5c;
  margin-left: 20px;
  margin-bottom: 22px;
}

.product-price-big {
  font-family: "avenir-next", Arial;
	font-size: 80px;
	font-weight: 700;
  color: #e2e2e2;
  margin: 5px 0px;
  padding: 0;
  max-width:100%;
  height:auto;
}
.product-img-big {
  position: relative;
  bottom: 2px;
  z-index: 0;
}

.product-img-gallery {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.product-img-thumb {
  width: 15%;
  height: auto;
  margin-right: 5px;
  margin-left: 34px;
  cursor: pointer;
  flex: 1;
}

.thumb-outline {
  outline: 4px solid #d8d8d8;
}

.more-photos {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

.bar {
  height: 3px;
  border-radius: 1px;
  background-color: #e7e7e7;
  margin-top: 3px;
  margin-right: 5px;
  margin-left: 5px;
}

.more-photos-text {
  font-family: "avenir-next-medium";
  font-size: 14px;
  color: #c0c0c0;
  margin-right: 54px;
}


.company-text {
  padding-left: 34px;
  padding-right: 64px;
  margin-bottom: 291px;
  font-family: "avenir-next-regular", Arial;
  font-size: 33px;
  /*font-weight: 800;*/
  color: #d8d8d8;
  line-height: 1.52;
}

.company-name {
  color: #6e6e6e;
}

.product-buybutton {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
  color: #ffffff;
  font-family: "avenir-next", Arial;
  font-weight: 700;
  font-size: 34px;
  text-transform: uppercase;
  padding: 34px 0 37px 414px;
  width: 100%;
  height: 115px;
  text-align: center;
  border: 0;
  outline: none;
  background-image: linear-gradient(to right, #4949aa, #27275d);
}
