@font-face {
  font-family: "andale-mono";
  src: url("../fonts/andale-mono.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "avenir-next";
  src: url("../fonts/avenir-next-bold.ttf");
  font-style: normal;
}

@font-face {
  font-family: "avenir-next-medium";
  src: url("../fonts/avenir-next-medium.ttf");
  font-style: normal;
}
