.product-card {
  padding: 9px;
  position: relative;
  color: #ffffff;
  background-color: #f4f4f4;
  margin: 8px 0px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.product-card-img {
  max-width:100%;
  height:auto;
}

.product-price {
  display: block;
  text-align: center;
  padding: 25px;
  background-color: #ffffff;
  text-decoration: none;
  color: #000000;
  }

.sale {
  background-image: linear-gradient(107deg, #0c09bf, #966dd8);
  color: #ffffff;
}
