@font-face {
  font-family: 'andale-mono';
  src: url('./andale-mono.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'avenir-next';
  src: url('./avenir-next-bold.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'avenir-next-medium';
  src: url('./avenir-next-medium.ttf') format('truetype');
  font-style: normal;
}

/*@font-face {
  font-family: "avenir-next-regular";
  src: url("./avenir-next-regular.ttf") format('truetype');
  font-style: normal;
}*/
