.label {
  font-size: 14px;
  font-family: "avenir-next-medium";
  color: #fff;
  position: absolute;
  right: 17px;
  top: 17px;
  display: inline-block;
  width: 76px;
  /*height: 28px;*/
  padding: 6px 0;
  text-align: center;
  background: #ff5c5c;
}
